/* ===== HEADER ===== */
.hero {
  display: flex;
  justify-content: center; /* centraliza tudo */
  background-color: #000;
}

/* CONTAINER INTERNO */
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;

  width: 100%;
  max-width: 1200px; /* 🔥 LIMITA LARGURA */
  padding: 0 20px;

  gap: 40px;
}

/* ===== NAVBAR ===== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
}

/* ===== LOGO ===== */
.logo {
  width: 120px;
}

/* ===== MENU ===== */
.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #F8A04B;
}

/* ===== BOTÃO PRINCIPAL ===== */
.cta-btn {
  background: linear-gradient(to right, #ED3237, #F8A04B);
  padding: 10px 18px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.cta-btn:hover {
  transform: scale(1.05);
}

/* ===== BOTÃO MOBILE ===== */
.btn-mobile {
  display: none;
  background: linear-gradient(to right, #ED3237, #F8A04B);
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}

/* ===== HAMBURGUER ===== */
.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #fff;
}

/* ===== RESPONSIVO ===== */
@media (max-width: 768px) {

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: #000;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .cta-btn {
    display: none;
  }

  .btn-mobile {
    display: block;
    margin-top: 15px;
  }

  .hamburger {
    display: block;
  }
}